<div class="cart-block">
<div class="cart-empty">
  <%= image_tag("cart_empty/empty_basket.png") %>
</div>
  <div class="cart-image">
    <%= image_tag("cart.jpg") %>
  </div>
    <div class="cart-empty2">
    <ul class="cart-image1">

      <li id="txt1">
        <span class="cart-text">Выберите товар, нажмите кнопку «В корзину» и товар автоматически отправится в Вашу корзину</span>
      </li>

      <li id="txt2">
        <span class="cart-text1">Для оформления заказа перейдите в Вашу корзину</span>
      </li>

      <li id="txt3">
        <span class="cart-text2">Продолжите оформление заказа, нажав на кнопку «Оформить заказ»</span>
      </li>

      <li id="txt4">
        <span class="cart-text3">Выберите
        «Способ оплаты» и «Способ доставки» и заполните раздел «Информация для доставки»</span>
      </li>

      <li id="txt5">
        <span class="cart-text4">Затем просто нажмите кнопку «Подтвердить заказ для завершения заказа»</span>
      </li>

    </ul>
    </div>
<div class="continue">
  <%= link_to("Продолжить покупки", root_url) %>
</div>
</div>

<div class="advertising">
  <div id="advertising1" class="adv">
    <%= image_tag('advertising/1.jpg')%>
  </div>

  <div id="advertising2" class="adv">
    <%= image_tag('advertising/2.jpg')%>
  </div>

  <div id="advertising3" class="adv">
    <%= image_tag('advertising/3.jpg')%>
  </div>

  <div id="advertising4" class="adv">
    <%= image_tag('advertising/4.png')%>
  </div>

  <div id="advertising5" class="adv">
    <%= image_tag('advertising/5.png')%>
  </div>
</div>