<div class='my_form'>
  <h2>Войти</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email, label: 'Почтовый ящик', required: false, autofocus: true %>
      <%= f.input :password, label: 'Пароль', required: false %>
      <%= f.input :remember_me, as: :boolean, label: 'Запомнить меня' %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Войти" %>
    </div>
  <% end %>
  <br>
  <%= render "devise/shared/links" %>
</div>