<div class="my_form">
    <h3>Добавить новый товар:</h3>
  <%= simple_form_for @item do |f| %>
    <%= f.input :name, label: 'Название товара' %>
    <%= f.input :slug %>
    <%#= f.input :description, as: :text, label: 'Описание товара' %>
    <%= f.input :short_description, as: :text, label: 'Краткое описание' %>
    <%= f.input :price, label: 'Цена' %>
    <%= f.input :ingredients, as: :text, label: 'Состав' %>
    <%= f.input :presence, label: 'Есть на складе?' %>
    <%= f.input :catalog_id, collection: [ ['Лекарства', 1], ['Красота', 2], ['Витамины и БАДы', 3], ['Мед. приборы и изделия', 4], ['Спорт и фитнес', 5], ['Мама и малыш', 6], ['REN', 7], ['Секс', 8] ] %>
    <%= f.input :category_id, collection: [ ['Антибиотики', 1], ['Ушные Капли', 2], ['Аромотерапия', 3], ['Женская Гигиена', 4], ['Биологически активные добавки', 5], ['Витамины', 6], ['Диагностические средства', 7], 
        ['Изделия медицинского назначения', 8], ['Аксессуары', 9], 
        ['Спортивное питание', 10], ['Гигиена и уход', 11], 
        ['Детсткая одежда', 12], ['Маски', 13], 
        ['Очищение', 14], ['Презервативы', 15], ['Интимные товары', 16] ] %>
    <%= f.input :image, as: :file, label: 'Картинка' %>
    <%= f.button :submit, 'Создать товар' %>
  <% end %>
</div>